

<div class="col-md-12" style="margin-left:-15px">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <div class="page-breadcrumb breadcrumb">
        <h3 class="page-title">
            Search <small> your search results will be shown here</small>
        </h3>

    </div>
    <!-- END PAGE TITLE & BREADCRUMB-->
</div>
<h3 class="pull-left">Search results for: </h3> <h3 class="pull-left"><b ng-bind="searchQuery"></b> </h3>
<div class="col-md-12">
    <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_0" data-toggle="tab">Notes ({{noteList.length}})</a>
            </li>
            <li>
                <a href="#tab_1" data-toggle="tab">Discussions ({{discussionList.length}})</a>
            </li>
            <li>
                <a href="#tab_2" data-toggle="tab">Meetings ({{meetingList.length}})</a>
            </li>          
           
            <li>
                <a href="#tab_5" data-toggle="tab">Groups ({{groupList.length}})</a>
            </li>

        </ul>
        
        
        
        
        <div class="tab-content" style="overflow-y: scroll; height: 520px;">
            <div class="tab-pane active" id="tab_0">
                <div class="">

                    <div class="portlet-body">
                         <a href =""  data-ng-repeat="i in noteList" ng-click="toNoteDetail(i.id)">
                            <div class="well well-lg">
                                <h4 class="block">{{i.tag.tag}} | {{i.tag.clazz}}</h4>
                                <p>
                                    {{i.description}}
                                </p>
                            </div>
                        </a>


                    </div>


                </div>

            </div>

            <div class="tab-pane" id="tab_1">
                <div class="">

                    <div class="portlet-body">

                        <a href =""  data-ng-repeat="i in discussionList" ng-click="toDiscussionDetail(i.id)">
                            <div class="well well-lg">
                                <h4 class="block">{{i.tag.tag}} | {{i.tag.clazz}}</h4>
                                <p>
                                    {{i.description}}
                                </p>
                            </div>
                        </a>

                    </div>


                </div>

            </div>

            <div class="tab-pane" id="tab_2">
                <div class="">

                    <div class="portlet-body">
                        <a href =""  data-ng-repeat="i in meetingList" ng-click="toMeetingDetail(i.id)">
                            <div class="well well-lg">
                                <h4 class="block">{{i.tag.tag}} | {{i.tag.clazz}}</h4>
                                <p>
                                    {{i.description}}
                                </p>
                            </div>
                        </a>

                    </div>


                </div>

            </div>

            <div class="tab-pane" id="tab_3">
                <div class="">

                    <div class="portlet-body">
                        <a href ="#"  data-ng-repeat="i in dataList">
                            <div class="well well-lg">
                                <h4 class="block">{{i.label}}</h4>
                                <p>
                                    {{i.description}}
                                </p>
                            </div>
                        </a>

                    </div>


                </div>

            </div>

            <div class="tab-pane" id="tab_4">
                <div class="">

                    <div class="portlet-body">
                        <a href ="#"  data-ng-repeat="i in dataList">
                            <div class="well well-lg">
                                <h4 class="block">{{i.label}}</h4>
                                <p>
                                    {{i.description}}
                                </p>
                            </div>
                        </a>

                    </div>


                </div>

            </div>
            
            
            

            <div class="tab-pane" id="tab_5">
                <div class="">

                    <div class="portlet-body">
                      <a href =""  data-ng-repeat="i in groupList" ng-click="toGroupDetail(i.id)">
                            <div class="well well-lg">
                                <h4 class="block">{{i.tag.tag}} | {{i.tag.clazz}}</h4>
                                <p>
                                    {{i.description}}
                                </p>
                            </div>
                        </a>

                    </div>


                </div>

            </div>


        </div>
    </div>
</div>