<div class="col-md-12" style="margin-left:-15px">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                        <div class="page-breadcrumb breadcrumb">
					<h3 class="page-title">
					Inbox <small> your messages will be shown here</small>
					</h3>
                                            
                                        </div>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>


<div class="col-md-12">
					<!-- BEGIN REGIONAL STATS PORTLET-->
					
						<div class="portlet-body">
							<div class="row inbox">
								<div class="col-md-2">
									<ul class="inbox-nav margin-bottom-10">
										<li class="inbox">
											<a href="#/new_message" data-title="Compose" class="btn">
											<i class="fa fa-edit"  style="color: #4d82a3;"></i> Compose </a>
										</li>
										<li class="inbox active">
											<a href="#/inbox" class="btn" data-title="Inbox">Inbox(3)</a>
											<b></b>
										</li>
									</ul>
								</div>
								<div class="col-md-10">
									
									<div class="inbox-loading" style="display: block;height: 580px;">
										 <div class="inbox-header inbox-view-header">
	<h1 class="pull-left">New server for datacenter needed </h1>
	
</div>
<div class="inbox-view-info">
	<div class="row" style="margin-right:0px">
		<div class="col-md-7">
			<img src="assets/img/avatar1_small.jpg">
			<span class="bold">
				 Petronas IT
			</span>
			<span>
				 &lt;support@go.com&gt;
			</span>
			 to
			<span class="bold">
				 me
			</span>
			 on 08:20PM 29 JAN 2013
		</div>
		<div class="col-md-5 inbox-info-btn">
			<div class="btn-group">
				<button class="btn btn-info btn-sm reply-btn">
				<i class="fa fa-reply"></i> Reply </button>
				<button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu pull-right">
					<li>
						<a href="#"><i class="fa fa-reply reply-btn"></i> Reply</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-arrow-right reply-btn"></i> Forward</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-print"></i> Print</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#"><i class="fa fa-ban"></i> Spam</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
					</li>
					<li>
					</li></ul></div>
				</div>
			</div>
		</div>
		<div class="inbox-view" style="overflow-y: scroll;height: 420px;">
			<p>
				<strong>Lorem ipsum</strong>dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
			</p>
			<p>
				 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et <a href="#">iusto odio dignissim</a> qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
			</p>
			<p>
				 Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
			</p>
			<p>
				 Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
			</p>
		</div>
		<hr>
		
									</div>
									<div class="inbox-content"></div>
								</div>
							</div>
						</div>
					</div>