<div class="col-md-12" style="margin-left:-15px">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                        <div class="page-breadcrumb breadcrumb">
					<h3 class="page-title">
					Inbox <small> your messages will be shown here</small>
					</h3>
                                            
                                        </div>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>


<div class="col-md-12">
					<!-- BEGIN REGIONAL STATS PORTLET-->
					
						<div class="portlet-body">
							<div class="row inbox">
								
								<div class="col-md-12">
									
									<div class="inbox-loading" style="display: block;height: 580px;">
										 <div class="inbox-header inbox-view-header">
	<h1 class="pull-left" style="display:none">New server for datacenter needed </h1>
	
</div>
<div class="inbox-view-info">
	<div class="row" style="margin-right:0px">
		<div class="col-md-7">
			<img src="assets/img/avatar1_small.jpg" style="display:none">
			<span class="bold" ng-bind="InboxDetailSenderName">
				 
			</span>
			<span>
			 to
			<span class="bold">
				 me
			</span>
                         on <span ng-bind="InboxDetailDatetime | date:'medium'"></span>
		</div>
		<div class="col-md-5 inbox-info-btn" >
			<div class="btn-group">
				<button class="btn btn-info btn-sm reply-btn" ng-click="toReplyMessage()">
				<i class="fa fa-reply"></i> Reply </button>
				<button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" style="display:none">
				<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu pull-right">
					<li>
						<a href="#"><i class="fa fa-reply reply-btn"></i> Reply</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-arrow-right reply-btn"></i> Forward</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-print"></i> Print</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#"><i class="fa fa-ban"></i> Spam</a>
					</li>
					<li>
						<a href="#"><i class="fa fa-trash-o"></i> Delete</a>
					</li>
					<li>
					</li></ul></div>
				</div>
			</div>
		</div>
		<div class="inbox-view" style="overflow-y: scroll;height: 420px;" ng-bind="InboxDetailMessage">
			<p>
		</div>
		<hr>
		
									</div>
									<div class="inbox-content"></div>
								</div>
							</div>
						</div>
					</div>