

<div><table class="" style="margin-bottom: 15px; width: 100%">

        <tbody>
            <tr>
                <td></td>

                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/group_detail';">Back to Group Detail </button>
                </td>
                <td style="float:right"> 
                    <button type="button" class="btn btn-success" onclick="window.location.href = '#/update_meeting';">Update Meeting</button>

                </td>
            </tr>

        </tbody>
    </table></div>



<div><ul class="nav nav-pills">
        <li style="float: right;">
            <div class="theme-panel" style="width: 215px;">
                <div id="aa" class="toggler">
                    <i class="fa fa-plus"></i>
                </div>
                <div id="aab" class="theme-options">
                    <div class="theme-option">
                        <a href="#/new_discussion" class="icon-btn" style="width:130px">
                            <i class="fa fa-comments-o" style="font-size: 35px;"></i>
                            <div>
                                Create New Discussion
                            </div>
                            <span class="badge badge-important" style="display:none">
                                2
                            </span>
                        </a>
                    </div>
                    <div class="theme-option">
                        <a href="#/new_note" class="icon-btn" style="width:130px">
                            <i class="fa fa-pencil-square-o" style="font-size: 35px;"></i>
                            <div>
                                Create New Note
                            </div>
                        </a>
                    </div>
                    <div class="theme-option">
                        <a href="#" class="icon-btn" style="width:130px">
                            <i class="fa fa-paperclip" style="font-size: 35px;"></i>
                            <div>
                                Create New Resource
                            </div>
                        </a>
                    </div>
                    <div class="theme-option">
                        <a href="#/new_meeting" class="icon-btn" style="width:130px">
                            <i class="fa fa-group" style="font-size: 35px;"></i>
                            <div>
                                Create New Meeting
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>


<div  style="margin-bottom: 20px;">

    <h3 ng-bind="meetingName"></h3>
    <p ng-bind="tags"></p>

</div>

<div>

    <div style="background-color: #e3e3e3; width: 200px; margin-bottom:20px">
        <table style="    margin-left: auto;        margin-right: auto;">
            <tr>
                <td align="center" style="font-size: 80px" >{{day}}</td>
            </tr>
            <tr>
                <td align="center" style="font-size: 20px;" >{{monthYear}}</td>
            </tr>
            <tr>
                <td align="center" style="font-size: 15px; font-weight: 700">{{startHour}}:00 - {{endHour}}:00</td>                        
            </tr>

            <tr>
                <td align="center" style="font-size: 12px">Location: <p  ng-bind="selectedMeetingLoc"></p></td>                        
            </tr>              
        </table>
    </div>
</div>

<div class="well well-sm">
    <h4>Agenda Items</h4>
    <div  ng-show="!agendaItems.length">
        <p>Unfortunately, there are no agenda items, yet.</p></div>
    <ul data-ng-repeat="i in agendaItems">

        <li>
            {{i}}
        </li>
    </ul>
</div>

<div class="well well-sm"><h4>Invited People</h4>
    <div  ng-show="!invitedUsers.length">
        <p>Unfortunately, you have not invited anybody to this meeting.</p>
    </div>

    <table cellpadding="5"  data-ng-repeat="i in invitedUsers">       
        <tr>
            <td><img src="assets/img/avatar3.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
            <td valign="top" >
                <table>                    
                    <tr>
                        <td><h4 style="padding:0px; margin: 0px">{{i.tempName}}</h4></td>                          
                    </tr>
                    <tr>
                        <td>Moderator</td>

                    </tr>
                </table>
            </td>
            </tr>  
    </table>
</div>


<div class="well well-sm" ><h4>Attendants</h4>

    <div  ng-show="!attandedUsers.length">
        <p>No one has yet accepted your meeting invitation, sorry.</p>
    </div>
    <table cellpadding="5" data-ng-repeat="i in attandedUsers">       
        <tr>
            <td><img src="assets/img/blog/12.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
            <td valign="top" >
                <table>                    
                    <tr>
                        <td><h4 style="padding:0px; margin: 0px">{{i.tempName}}</h4></td>                          
                    </tr>
                    <tr>
                        <td>Regular Attendaee</td>

                    </tr>
                </table>
            </td>
            </tr>  
    </table>
</div>




<div class="well well-sm">
    <h4 >Discussions</h4>

    <ul style="list-style-type: none; margin-left:0px; padding-left: 0px; ">
        <li >
            <a tabindex="-1"  href="#/discussion_detail">            
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1"  href="#/discussion_detail">
            </a>
        </li>
    </ul>


</div>

<div class="well well-sm">
    <h4 >Notes</h4>
    <ul style="list-style-type: none; margin-left:0px; padding-left: 0px; ">
        <li >
            <a tabindex="-1" href="#">          
            </a>
        </li>

    </ul>
</div>



<div class="well well-sm media">
    <div> 
        <h4 >Resources</h4>
    </div>
    <!--<div class="pull-left " >
        <table>
            <tr>
                <th><img src="assets/img/file_types/pdf.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>

    <div class="pull-left">
        <table>
            <tr>
                <th><img src="assets/img/file_types/pdf.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>

    <div class="pull-left">
        <table>
            <tr>
                <th><img src="assets/img/file_types/docx.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>
    -->
</div>





<script>
            $(document).ready(function () {
                // initiate layout and plugins
                $('#aa').click(function () {
                    $(this).toggleClass("open");
                    $('#aab').toggle();
                });


            });

</script>