<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td></td>
               
                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/group_detail';">Back to Group Detail </button>
                </td>
            </tr>

        </tbody>
    </table></div>

<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td>
                    <h3>Digital Publishing Interest Group</h3> 
                   
                </td>
            </tr>

        </tbody>
    </table></div>


<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form action="#" class="horizontal-form">
											<div class="form-body">
												<h3 class="form-section">New Meeting</h3>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">First Name</label>
															<input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
                                                                                                                        <span class="help-block" style="display:none">
																 This is inline help
															</span>
														</div>
                                                                                                                <div class="form-group">
                                                                                                                    <label>Textarea</label>
                                                                                                                    <textarea class="form-control" rows="3"></textarea>
                                                                                                                </div>
                                                                                                                <div class="form-group">
															<label class="control-label">First Name</label>
															<input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
                                                                                                                        <span class="help-block" style="display:none">
																 This is inline help
															</span>
														</div>
                                                                                                        </div>
                                                                                                    
                                                                                                    <div class="col-md-6">
                                                                                                        <div class="form-group">
                                                                                                            <label class="control-label col-md-3">Meeting Date</label>
                                                                                                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>
                                                                                                                    <span class="help-block">
                                                                                                                             Select date
                                                                                                                    </span>
									</div>
														<div class="form-group">
															<label class="control-label">First Name</label>
															<input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
                                                                                                                        <span class="help-block" style="display:none">
																 This is inline help
															</span>
														</div>
                                                                                                                <div class="form-group">
                                                                                                                    <label>Textarea</label>
                                                                                                                    <textarea class="form-control" rows="3"></textarea>
                                                                                                                </div>
                                                                                                                
                                                                                                    </div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group has-error">
															<label class="control-label">Last Name</label>
															<input type="text" id="lastName" class="form-control" placeholder="Lim">
															<span class="help-block">
																 This field has error.
															</span>
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">Gender</label>
															<select class="form-control">
																<option value="">Male</option>
																<option value="">Female</option>
															</select>
															<span class="help-block">
																 Select your gender
															</span>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">Date of Birth</label>
															<input type="text" class="form-control" placeholder="dd/mm/yyyy">
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">Category</label>
															<select class="select2_category form-control" data-placeholder="Choose a Category" tabindex="1">
																<option value="Category 1">Category 1</option>
																<option value="Category 2">Category 2</option>
																<option value="Category 3">Category 5</option>
																<option value="Category 4">Category 4</option>
															</select>
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label">Membership</label>
															<div class="radio-list">
																<label class="radio-inline">
																<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option 1 </label>
																<label class="radio-inline">
																<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option 2 </label>
															</div>
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
												<h3 class="form-section">Address</h3>
												<div class="row">
													<div class="col-md-12 ">
														<div class="form-group">
															<label>Street</label>
															<input type="text" class="form-control">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>City</label>
															<input type="text" class="form-control">
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label>State</label>
															<input type="text" class="form-control">
														</div>
													</div>
													<!--/span-->
												</div>
												<!--/row-->
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>Post Code</label>
															<input type="text" class="form-control">
														</div>
													</div>
													<!--/span-->
													<div class="col-md-6">
														<div class="form-group">
															<label>Country</label>
															<select class="form-control">
															</select>
														</div>
													</div>
													<!--/span-->
												</div>
											</div>
											<div class="form-actions right">
												<button type="button" class="btn btn-default">Cancel</button>
												<button type="submit" class="btn btn-info"><i class="fa fa-check"></i> Save</button>
											</div>
										</form>
										<!-- END FORM-->
									</div>
								

