<div><table class="" style="margin-bottom: 30px; width: 100%">


        <tbody>
            <tr>
                <td></td>

                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/group_detail';">Back to Group Detail </button>
                </td>
            </tr>

        </tbody>
    </table></div>



    <div><table class="" style="margin-bottom: 30px; width: 100%">

            <div style="margin-bottom: 20px;">

                <h3  >Create New Meeting</h3>
                <p ng-bind="selectedGroupName"></p>
            </div>
        </table></div>


    <table border="0" style="width:600px" cellpadding="5">
        <tr>
            <td>Meeting Name</td>
            <td> 
        <input type="text" class="form-control" ng-model="name" placeholder="Enter a name for your meeting">
            </td> 
            </tr>
            <tr>
                <td>Description</td>
                <td> <textarea class="form-control" rows="3"  ng-model="description" placeholder="Enter the description for your meeting"></textarea>
                </td> 
            </tr>
            <tr>
                <td>Tags</td>
                <td>
                    <table border="1" style="width:400px; border_color:#35363a" cellpadding="3"  >

                        <tr>
                            <td>
                        <input id="inputTag" class="form-control" type="text" name="product" style="width:300px" list="inputTagList" ng-model="ngTag"  ng-change="getTag()"/>
                        <datalist id="inputTagList">
                            <option  ng-repeat="option in yeniTagList" value="{{option.label}}" >{{option.clazz}} </option>
                        </datalist>
                </td>
                <td> 
                    <button type="submit" class="btn btn-success" ng-click="setTag()" >Add Tag</button>
                </td> 
            </tr>
    </table>

    <table border="1" style="width:400px; border_color:#35363a" cellpadding="3"  >

        <tr>
            <th>Selected Tag</th>
            <th>Selected context</th>
        </tr>

        <tr data-ng-repeat="selectedTag in selectedTagList">
            <td>{{selectedTag.tag}}</td>
            <td>{{selectedTag.clazz}}</td> 
        </tr>
    </table>
</div>

</td> 
</tr>
<tr>
    <td>Meeting Date</td>
    <td>   <input class="form-control form-control-inline input-medium date-picker2" size="16" type="text" value="" ng-model="date">

    </td> 
    </tr>
    <tr>
        <td>Start Hour</td>
        <td> <select class="form-control"  ng-model="starthour">
                <option value="08" selected>08:00</option>
                <option value="09" s>09:00</option>
                <option value="10" s>10:00</option>
                <option value="11" s>11:00</option>
                <option value="12" s>12:00</option>
                <option value="13" s>13:00</option>
                <option value="14" s>14:00</option>
                <option value="15" s>15:00</option>
                <option value="16" s>16:00</option>
                <option value="17" s>17:00</option>
            </select></td> 
    </tr>
    <tr>
        <td>End Hour</td>
        <td>  <select class="form-control" ng-model="finishhour">
                <option value="09" sselected>09:00</option>
                <option value="10" s>10:00</option>
                <option value="11" s>11:00</option>
                <option value="12" s>12:00</option>
                <option value="13" s>13:00</option>
                <option value="14" s>14:00</option>
                <option value="15" s>15:00</option>
                <option value="16" s>16:00</option>
                <option value="17" s>17:00</option>
            </select></td> 
    </tr>

    <tr>
        <td>Timezone</td>
        <td> <select class="form-control" ng-model="timezone">
                <option>(GMT-12:00) International Date Line West</option>
                <option>(GMT-11:00) Midway Island, Samoa</option>
                <option>(GMT-10:00) Hawaii</option>
                <option>(GMT-09:00) Alaska</option>
                <option>(GMT-08:00) Pacific Time (US and Canada); Tijuana</option>
                <option>(GMT-07:00) Mountain Time (US and Canada)</option>
                <option>(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                <option>(GMT-07:00) Arizona</option>
                <option>(GMT-06:00) Central Time (US and Canada</option>
                <option>(GMT-06:00) Saskatchewan</option>
                <option>(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                <option>(GMT-06:00) Central America</option>
                <option>(GMT-05:00) Eastern Time (US and Canada)</option>
                <option>(GMT-05:00) Indiana (East)</option>
                <option>(GMT-05:00) Bogota, Lima, Quito</option>
                <option>(GMT-04:00) Atlantic Time (Canada)</option>
                <option>(GMT-04:00) Caracas, La Paz</option>
                <option>(GMT-04:00) Santiago</option>
                <option>(GMT-03:30) Newfoundland and Labrador</option>
                <option>(GMT-03:00) Brasilia</option>
                <option>(GMT-03:00) Buenos Aires, Georgetown</option>
                <option>(GMT-03:00) Greenland</option>
                <option>(GMT-02:00) Mid-Atlantic</option>
                <option>(GMT-01:00) Azores</option>
                <option>(GMT-01:00) Cape Verde Islands</option>
                <option>(GMT) Greenwich Mean Time: Dublin, Edinburgh, Lisbon, London</option>
                <option>(GMT) Casablanca, Monrovia</option>
                <option>(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                <option>(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                <option>(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                <option>(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                <option>(GMT+01:00) West Central Africa</option>
                <option>(GMT+02:00) Bucharest</option>
                <option>(GMT+02:00) Cairo</option>
                <option>(GMT+02:00) Helsinki, Kiev, Riga, Sofia, Tallinn, Vilnius</option>
                <option>(GMT+02:00) Athens, Istanbul, Minsk</option>
                <option>(GMT+02:00) Jerusalem</option>
                <option>(GMT+02:00) Harare, Pretoria</option>
                <option>(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                <option>(GMT+03:00) Kuwait, Riyadh</option>
                <option>(GMT+03:00) Nairobi</option>
                <option>(GMT+03:00) Baghdad</option>
                <option>(GMT+03:30) Tehran</option>
                <option>(GMT+04:00) Abu Dhabi, Muscat</option>
                <option>(GMT+04:00) Baku, Tbilisi, Yerevan</option>
                <option>(GMT+04:30) Kabul</option>
                <option>(GMT+05:00) Ekaterinburg</option>
                <option>(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                <option>(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                <option>(GMT+05:45) Kathmandu</option>
                <option>(GMT+06:00) Astana, Dhaka</option>
                <option>(GMT+06:00) Sri Jayawardenepura</option>
                <option>(GMT+06:00) Almaty, Novosibirsk</option>
                <option>(GMT+06:30) Yangon Rangoon</option>
                <option>(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                <option>(GMT+07:00) Krasnoyarsk</option>
                <option>(GMT+08:00) Beijing, Chongqing, Hong Kong SAR, Urumqi</option>
                <option>(GMT+08:00) Kuala Lumpur, Singapore</option>
                <option>(GMT+08:00) Taipei</option>
                <option>(GMT+08:00) Perth</option>
                <option>(GMT+08:00) Irkutsk, Ulaanbaatar</option>
                <option>(GMT+09:00) Seoul</option>
                <option>(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                <option>(GMT+09:00) Yakutsk</option>
                <option>(GMT+09:30) Darwin</option>
                <option>(GMT+09:30) Adelaide</option>
                <option>(GMT+10:00) Canberra, Melbourne, Sydney</option>
                <option>(GMT+10:00) Brisbane</option>
                <option>(GMT+10:00) Hobart</option>
                <option>(GMT+10:00) Vladivostok</option>
                <option>(GMT+10:00) Guam, Port Moresby</option>
                <option>(GMT+11:00) Magadan, Solomon Islands, New Caledonia</option>
                <option>(GMT+12:00) Fiji Islands, Kamchatka, Marshall Islands</option>
                <option>(GMT+12:00) Auckland, Wellington</option>
                <option>(GMT+13:00) Nuku'alofa</option>
            </select></td> 
    </tr>
    <tr>
        <td>Location</td>
        <td>
    <input type="text" id="firstName" class="form-control" ng-model="location" placeholder="Search for a location to add">
        <input type="checkbox" ng-change="change()" value="option1" style="margin: 5px;" ng-model="meetingtype">Online Meeting
            <span class="help-block" style="display:none">
                This is inline help
            </span>
            <div ng-show="isOnlineMeeting">
                <label class="control-label">Details</label>

                <textarea class="form-control" rows="2"  placeholder="Enter Location details" ng-model="locationDetails"></textarea>



            </div>
            </td> 
            </tr>

            <tr>
                <td></td>
                <td>  <button type="submit" class="btn btn-info" ng-click="sendPost()"><i class="fa fa-check"></i> Save</button></td> 
            </tr>

            </table>

