<div><table class="" style="margin-bottom: 30px; width: 100%">


        <tbody>
            <tr>
                <td></td>

                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/group_detail';">Back to Group Detail </button>
                </td>
            </tr>

        </tbody>
    </table></div>



<form id="NewMeeting" class="NewMeeting-form" method="post" style="display:block" ng-submit="sendPost()">
    <div><table class="" style="margin-bottom: 30px; width: 100%">

            <div style="margin-bottom: 20px;">

                <h3  ng-bind="selectedGroupName"></h3>
                <p>Update Meeting</p>
            </div>
        </table></div>


    <div class="well well-sm"> 
        <div class="portlet-body form">
            <!-- BEGIN FORM-->

            <div class="form-body">
                <!-- <h3 class="form-section">New Meeting</h3> -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Meeting Name</label>
                            <input type="text" class="form-control" ng-model="name" placeholder="Enter a name for your meeting">
                            <span class="help-block" style="display:none">
                                This is inline help
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3"  ng-model="description" placeholder="Enter the description for your meeting"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tags</label>
                            <input type="text" class="form-control"  ng-model="tags" placeholder="Enter tags">
                            <span class="help-block" style="display:none">
                                This is inline help
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Invite List</label>
                            <div>
                                <input id="tags" style="width:70%" type="text" class="form-control"  ng-model="inviteText" placeholder="Search for a member to add">
                                <button style="width:28%" type="button" class="btn btn-navbar" ng-click="addToInviteList()">Invite </button>

                                <span class="help-block" style="display:none">
                                    This is inline help
                                </span>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-link">Invite All Users</button>
                            <table cellpadding="5">       
                                <tr>
                                    <td><img src="assets/img/avatar1.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
                                    <td valign="top" >
                                        <table>                    
                                            <tr>
                                                <td><h4 style="padding:0px; margin: 0px">Recep Günay</h4></td>                          
                                            </tr>
                                            <tr>
                                                <td>Regular Attendee</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>  
                            </table>


                            <table cellpadding="5">       
                                <tr>
                                    <td><img src="assets/img/avatar1.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
                                    <td valign="top" >
                                        <table>                    
                                            <tr>
                                                <td><h4 style="padding:0px; margin: 0px">Recep Günay</h4></td>                          
                                            </tr>
                                            <tr>
                                                <td>Regular Attendee</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>  
                            </table>


                            <table cellpadding="5">       
                                <tr>
                                    <td><img src="assets/img/avatar2.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
                                    <td valign="top" >
                                        <table>                    
                                            <tr>
                                                <td><h4 style="padding:0px; margin: 0px">Chanan Kvas</h4></td>                          
                                            </tr>
                                            <tr>
                                                <td>Regular Attendee</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>  
                            </table>


                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Meeting Date</label>



                                    <input placeholder="YYYY-MM-DD" class="form-control form-control-inline input-medium date-picker2" size="16" type="text" value="" ng-model="date">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Meeting Hours</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Start</label>
                                    <div class="col-md-8" style="float:left">
                                        <div style="float:left">
                                        <select class="form-control"  ng-model="starthour">
                                            <option value="00" selected>00</option>
                                            <option value="01" >01</option>
                                            <option value="02" >02</option>
                                            <option value="03" >03</option>
                                            <option value="04" >04</option>
                                            <option value="05" >05</option>
                                            <option value="06" >06</option>
                                            <option value="07" >07</option>
                                            <option value="08" >08</option>
                                            <option value="09" >09</option>
                                            <option value="10" >10</option>
                                            <option value="11" >11</option>
                                            <option value="12" >12</option>
                                            <option value="13" >13</option>
                                            <option value="14" >14</option>
                                            <option value="15" >15</option>
                                            <option value="16" >16</option>
                                            <option value="17" >17</option>
                                            <option value="18" >18</option>
                                            <option value="19" >19</option>
                                            <option value="20" >20</option>
                                            <option value="21" >21</option>
                                            <option value="22" >22</option>
                                            <option value="23" >23</option>
                                        </select>
                                        </div>

                                    <div style="float:left">
                                        <select class="form-control"  ng-model="starthourmin">
                                            <option value="00" selected>00</option>
                                            <option value="05" >05</option>
                                            <option value="10" >10</option>
                                            <option value="15" >15</option>
                                            <option value="20" >20</option>
                                            <option value="25" >25</option>
                                            <option value="30" >30</option>
                                            <option value="35" >35</option>
                                            <option value="40" >40</option>
                                            <option value="45" >45</option>
                                            <option value="50" >50</option>
                                            <option value="55" >55</option> 
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 5px;">
                                    <label class="col-md-4 control-label">End</label>
                                    <div class="col-md-8" style="float:left">
                                        <div style="float:left">
                                        <select class="form-control"  ng-model="finishhour">
                                            <option value="00" selected>00</option>
                                            <option value="01" >01</option>
                                            <option value="02" >02</option>
                                            <option value="03" >03</option>
                                            <option value="04" >04</option>
                                            <option value="05" >05</option>
                                            <option value="06" >06</option>
                                            <option value="07" >07</option>
                                            <option value="08" >08</option>
                                            <option value="09" >09</option>
                                            <option value="10" >10</option>
                                            <option value="11" >11</option>
                                            <option value="12" >12</option>
                                            <option value="13" >13</option>
                                            <option value="14" >14</option>
                                            <option value="15" >15</option>
                                            <option value="16" >16</option>
                                            <option value="17" >17</option>
                                            <option value="18" >18</option>
                                            <option value="19" >19</option>
                                            <option value="20" >20</option>
                                            <option value="21" >21</option>
                                            <option value="22" >22</option>
                                            <option value="23" >23</option>
                                        </select>
                                        </div>

                                    <div style="float:left">
                                        <select class="form-control"  ng-model="finishhourmin">
                                            <option value="00" selected>00</option>
                                            <option value="05" >05</option>
                                            <option value="10" >10</option>
                                            <option value="15" >15</option>
                                            <option value="20" >20</option>
                                            <option value="25" >25</option>
                                            <option value="30" >30</option>
                                            <option value="35" >35</option>
                                            <option value="40" >40</option>
                                            <option value="45" >45</option>
                                            <option value="50" >50</option>
                                            <option value="55" >55</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"  style="margin-top: 5px;">
                                    <label class=" control-label">Timezone</label>
                                    <div class="">
                                        <select class="form-control" ng-model="timezone">
                                            <option>(GMT-12:00) International Date Line West</option>
                                            <option>(GMT-11:00) Midway Island, Samoa</option>
                                            <option>(GMT-10:00) Hawaii</option>
                                            <option>(GMT-09:00) Alaska</option>
                                            <option>(GMT-08:00) Pacific Time (US and Canada); Tijuana</option>
                                            <option>(GMT-07:00) Mountain Time (US and Canada)</option>
                                            <option>(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                                            <option>(GMT-07:00) Arizona</option>
                                            <option>(GMT-06:00) Central Time (US and Canada</option>
                                            <option>(GMT-06:00) Saskatchewan</option>
                                            <option>(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                                            <option>(GMT-06:00) Central America</option>
                                            <option>(GMT-05:00) Eastern Time (US and Canada)</option>
                                            <option>(GMT-05:00) Indiana (East)</option>
                                            <option>(GMT-05:00) Bogota, Lima, Quito</option>
                                            <option>(GMT-04:00) Atlantic Time (Canada)</option>
                                            <option>(GMT-04:00) Caracas, La Paz</option>
                                            <option>(GMT-04:00) Santiago</option>
                                            <option>(GMT-03:30) Newfoundland and Labrador</option>
                                            <option>(GMT-03:00) Brasilia</option>
                                            <option>(GMT-03:00) Buenos Aires, Georgetown</option>
                                            <option>(GMT-03:00) Greenland</option>
                                            <option>(GMT-02:00) Mid-Atlantic</option>
                                            <option>(GMT-01:00) Azores</option>
                                            <option>(GMT-01:00) Cape Verde Islands</option>
                                            <option>(GMT) Greenwich Mean Time: Dublin, Edinburgh, Lisbon, London</option>
                                            <option>(GMT) Casablanca, Monrovia</option>
                                            <option>(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                            <option>(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                                            <option>(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                                            <option>(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                            <option>(GMT+01:00) West Central Africa</option>
                                            <option>(GMT+02:00) Bucharest</option>
                                            <option>(GMT+02:00) Cairo</option>
                                            <option>(GMT+02:00) Helsinki, Kiev, Riga, Sofia, Tallinn, Vilnius</option>
                                            <option>(GMT+02:00) Athens, Istanbul, Minsk</option>
                                            <option>(GMT+02:00) Jerusalem</option>
                                            <option>(GMT+02:00) Harare, Pretoria</option>
                                            <option>(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                                            <option>(GMT+03:00) Kuwait, Riyadh</option>
                                            <option>(GMT+03:00) Nairobi</option>
                                            <option>(GMT+03:00) Baghdad</option>
                                            <option>(GMT+03:30) Tehran</option>
                                            <option>(GMT+04:00) Abu Dhabi, Muscat</option>
                                            <option>(GMT+04:00) Baku, Tbilisi, Yerevan</option>
                                            <option>(GMT+04:30) Kabul</option>
                                            <option>(GMT+05:00) Ekaterinburg</option>
                                            <option>(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                                            <option>(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                            <option>(GMT+05:45) Kathmandu</option>
                                            <option>(GMT+06:00) Astana, Dhaka</option>
                                            <option>(GMT+06:00) Sri Jayawardenepura</option>
                                            <option>(GMT+06:00) Almaty, Novosibirsk</option>
                                            <option>(GMT+06:30) Yangon Rangoon</option>
                                            <option>(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                                            <option>(GMT+07:00) Krasnoyarsk</option>
                                            <option>(GMT+08:00) Beijing, Chongqing, Hong Kong SAR, Urumqi</option>
                                            <option>(GMT+08:00) Kuala Lumpur, Singapore</option>
                                            <option>(GMT+08:00) Taipei</option>
                                            <option>(GMT+08:00) Perth</option>
                                            <option>(GMT+08:00) Irkutsk, Ulaanbaatar</option>
                                            <option>(GMT+09:00) Seoul</option>
                                            <option>(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                            <option>(GMT+09:00) Yakutsk</option>
                                            <option>(GMT+09:30) Darwin</option>
                                            <option>(GMT+09:30) Adelaide</option>
                                            <option>(GMT+10:00) Canberra, Melbourne, Sydney</option>
                                            <option>(GMT+10:00) Brisbane</option>
                                            <option>(GMT+10:00) Hobart</option>
                                            <option>(GMT+10:00) Vladivostok</option>
                                            <option>(GMT+10:00) Guam, Port Moresby</option>
                                            <option>(GMT+11:00) Magadan, Solomon Islands, New Caledonia</option>
                                            <option>(GMT+12:00) Fiji Islands, Kamchatka, Marshall Islands</option>
                                            <option>(GMT+12:00) Auckland, Wellington</option>
                                            <option>(GMT+13:00) Nuku'alofa</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Location</label>
                            <input type="text" id="firstName" class="form-control" ng-model="location" placeholder="Search for a location to add">
                            <input type="checkbox" ng-change="change()" value="option1" style="margin: 5px;" ng-model="meetingtype">Online Meeting
                            <span class="help-block" style="display:none">
                                This is inline help
                            </span>
                            <div ng-show="isOnlineMeeting">
                                <label class="control-label">Details</label>

                                <textarea class="form-control" rows="2"  placeholder="Enter Location details" ng-model="locationDetails"></textarea>



                            </div>

                        </div>
                        <div class="form-group">

                            <div>
                                <label class="control-label">Discussions</label>
                                <input type="text" id="firstName" class="form-control" placeholder="Search for a discussion to add" ng-model="discussion">


                                <ul style="list-style-type: none; margin-left:5px; padding-left: 0px;margin-top:15px; ">
                                    <li>
                                        <a tabindex="-1" href="#/discussion_detail">This document isn't using RFC words...            
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#/discussion_detail">The (optional) explanation of conformance ...
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </div>



                    </div>

                </div>
            </div>
            <div class="form-actions right">
                <button type="submit" class="btn btn-info"><i class="fa fa-check"></i> Save</button>
            </div>
            <!-- END FORM-->
        </div>
    </div>							
</form>
<div class="row">
<div class="col-md-6">
    <div class="well well-sm" >  
        <h4>Agenda Items</h4>
        <p ng-show="!agendaSet.length">There is no agenda items yet</p>
        <div data-ng-repeat="i in agendaSet">

            <ul>
                <li>
                    {{i}}
                </li>
            </ul>
        </div>

        <div class="post-comment">
            <h3>Add Item</h3>
            <div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter text for an agenda item" ng-model="agendaText">

                </div>
                <button class="margin-top-20 btn btn-info" ng-click="addAgentaItem();">Add</button>
            </div>
        </div>



    </div>
    </div>
    
    <div class="col-md-6">
    <div class="well well-sm" >  
        <h4>To-Do Items</h4>
        <p ng-show="!todoSet.length">There is no To-Do items yet</p>
        <div data-ng-repeat="i in todoSet">

            <input type="checkbox" ng-change="" value="option1" style="margin: 5px;">
                    {{i}}
          
        </div>

        <div class="post-comment">
            <h3>Add Item</h3>
            <div>
                <div class="form-group">
                     <input type="text" class="form-control" placeholder="Enter text for an to-do item" ng-model="todoText">

                </div>
                <button class="margin-top-20 btn btn-info" ng-click="addToDoItem();">Add</button>
            </div>
        </div>



    </div>
    </div>
    </div>

<style>

    /* min Jquery CSS elements for autocomplete */
    .ui-autocomplete { position: absolute; cursor: default; }    
    .ui-menu { list-style:none; padding: 2px; margin: 0; display:block; float: left; background-color:#f9f9f9; border: 1px solid #efefef; border-radius: 3px 3px 3px 3px; }

    .ui-menu .ui-menu {
        margin-top: -3px;
    }
    .ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        zoom: 1;
        float: left;
        clear: left;
        width: 100%;
        font-family:arial;
    }
    .ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.1em .3em;
        line-height:1.5;
        zoom:1;
    }
    .ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
        font-weight: bold;
    }    


</style>