<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td></td>

                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/note_detail';">Back to Note Detail </button>
                </td>
            </tr>

        </tbody>
    </table></div>

<div style="margin-bottom: 20px;">


    <h3  ng-bind="selectedGroupName"></h3>
    <p>Update Note</p>
</div>

<div class="well well-sm">
    <form role="form">

        <div class="form-body">
            <table cellpadding="5">
                <tr>
                    <td>
                        Note Name
                    </td>
                    <td>
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter text" ng-model="name" style="width:450px">
                    </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td> <textarea class="form-control" placeholder="Enter text" ng-model="description" style="width:450px; height: 150px"></textarea></td>
                    </tr>


            </table>

        </div>
    </form>
</div>


<div class="well well-sm">
<div class="row" style="margin-left: 0px;">
  <div>
    <table>
      <tr>
        <td>
          <h4>Tag Select</h4>
        </td>
        <td>

        </td>
      </tr>
    </table>
  </div>

  <div>
    <div style="height: 45px;margin: 10px;float: left;" data-ng-repeat="i in reDesignedSelectedTagList">

      <div class="alert alert-success">
        <strong>{{i.label}}</strong> {{i.clazz}}
        <i class="fa fa-trash-o" style="    color: red;    margin-left: 10px;    font-size: 20px;" ng-click="removeTag(i)"></i>
      </div>


    </div>
  </div>
</div>
<div class="row" style="margin-left: 0px;">

  <div styke="margin-bottom: 15px;">
    <input style="width:70%;margin-top:15px;" type="text" class="form-control" ng-model="searcTag" ng-change="searchTagChanged()" placeholder="Search for a tag to add">
  </div>
  <div class="well well-sm" style="max-height: 400px;overflow-y: auto;margin: 15px;    width: 70%;" ng-show="queryTags.length">
    <div data-ng-repeat="i in queryTags">
      <div class="media" style="margin-bottom: 10px; margin-top: 10px">
        <div class="pull-left media-body" style="padding-left: 10px; padding-top: 5px">
          <h4 class="media-heading">{{i.label}}</h4>
          <p>{{i.clazz}}</p>

        </div>
        <div class="pull-left media-body" style="padding-left: 10px; padding-top: 5px">
          <button type="submit" class="btn btn-warning" ng-click="addTag(i)">Add Tag</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--
<div> <div class="well well-sm media">
        <div>
            <table>
                <tr>
                    <td><h4 >Resources</h4> </td>
                    <td><button type="button" class="btn btn-link">Create New Resource</button></td>
                </tr>
            </table>
        </div>
        <div> <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search for resource to add" style="width:450px"></div>

        <div  style="margin-bottom: 10px; margin-top: 10px">
            <div class="pull-left ">
                <table>
                    <tr>
                        <th><img src="assets/img/file_types/docx.png" alt="100%x200" style=" height: 60px; display: block;" ></th>

                        </tr>
                        <tr>
                            <td>#Elephants</td>
                        </tr>
                </table>
            </div>

            <div class="pull-left">
                <table>
                    <tr>
                        <th><img src="assets/img/file_types/docx.png" alt="100%x200" style=" height: 60px; display: block;" ></th>
                        </tr>
                        <tr>
                            <td>#Elephants</td>
                        </tr>
                </table>
            </div>

            <div class="pull-left">
                <table>
                    <tr>
                        <th><img src="assets/img/file_types/pdf.png" alt="100%x200" style=" height: 60px; display: block;" ></th>
                        </tr>
                        <tr>
                            <td>#Elephants</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
-->



<div class="well well-sm">
    <button type="submit" class="btn btn-success" ng-click="updateNote()">Update</button>
    <button type="button" class="btn btn-default">Cancel</button>
</div>
