

<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td></td>
               
                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/group_detail';">Back to Group Detail </button>
                </td>
            </tr>

        </tbody>
    </table></div>

<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td>
                    <h3 ng-bind="selectedDiscussionName"></h3> 
                    <p  ng-bind="selectedDiscussionDesc"></p>
                </td>
                
                <td style="float:right"> 
                    <button type="button" class="btn btn-success" onclick="window.location.href = '#/update_discussion';">Update Discussion</button>
                   
                </td>
                <td style="float:right"> 
                    <button type="button" class="btn btn-danger" ng-click="archiveDiscussion()">Archive Discussion</button>
                   
                </td>
            </tr>

        </tbody>
    </table></div>

<div class="well well-sm media">
    <div> 
      <h4 >Resources</h4>
    </div>
    <div class="pull-left " >
        <table>
            <tr>
                <th><img src="assets/img/file_types/pdf.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                    </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>

    <div class="pull-left">
        <table>
            <tr>
                <th><img src="assets/img/file_types/pdf.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                    </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>

    <div class="pull-left">
        <table>
            <tr>
                <th><img src="assets/img/file_types/docx.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                    </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>

</div>


<div class="well well-sm" >  
    <h4>Comments</h4>
    <p ng-show="!commentList.length">There is no comment yet</p>
    <div data-ng-repeat="i in commentList">
    <table cellpadding="5">       
        <tr>
            <td><img src="assets/img/avatar1.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
            <td valign="top" >
                <table>                    
                    <tr>
                        <td><h4 style="padding:0px; margin: 0px">{{i.name}}</h4><p>Created on {{i.createdTime | date:'medium'}}</p></td>                          
                    </tr>
                    <tr>
                        <td>{{i.comment}}</td>
                      
                    </tr>
                </table>
            </td>
            </tr>  
    </table>
    </div>

<div class="post-comment">
								<h3>Leave a Comment</h3>
								<form role="form" ng-submit="addComment()">
									<div class="form-group">
										<label class="control-label">Message
										<span class="required">
											 *
										</span>
										</label>
										<textarea class="col-md-10 form-control" rows="8" ng-model="commentText"></textarea>
									</div>
									<button class="margin-top-20 btn btn-info" type="submit">Post a Comment</button>
								</form>
							</div>



</div>
