

<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td></td>
               
                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/group_detail';">Back to Group Detail </button>
                </td>
            </tr>

        </tbody>
    </table></div>

<div style="margin-bottom: 20px;">

                   <h3>This document isn't using RFC words</h3>
    <p>Posted on 15/07/2015 by Sinan Can</p>
    
    <p> All functionality of the authoring tool is operable through a keyboard interface without requiring specific timings for individual keystrokes, except where the underlying function requires input that depends on the path of the user's movement and not just the endpoints. (Level A)
        Note 1: The path exception relates to the underlying function, not the input technique. For example, if using handwriting to enter text, the input technique (handwriting) requires path-dependent input, but the underlying function (text input) does not. The path exception encompasses other input variables that are continuously sampled from pointing devices, including pressure, speed, and angle.
        Note 2: This success criterion does not forbid and should not discourage providing mouse input or other input methods in addition to keyboard operation.</p>
    <p>#tag1 #eiffel #pinkelephant</p>

</div>

<div class="well well-sm media">
    <div> 
      <h4 >Resources</h4>
    </div>
    <div class="pull-left " >
        <table>
            <tr>
                <th><img src="assets/img/file_types/pdf.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                    </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>

    <div class="pull-left">
        <table>
            <tr>
                <th><img src="assets/img/file_types/pdf.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                    </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>

    <div class="pull-left">
        <table>
            <tr>
                <th><img src="assets/img/file_types/docx.png" alt="100%x200" style=" height: 60px; display: block;" ></th>          
                    </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
        </table>
    </div>

</div>


<div class="well well-sm">  
    <h4>Comments</h4>
    <table cellpadding="5">       
        <tr>
            <td><img src="assets/img/avatar1.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
            <td valign="top" >
                <table>                    
                    <tr>
                        <td><h4 style="padding:0px; margin: 0px">Recep Günay</h4><p>Created on 15/07/2015</p></td>                          
                    </tr>
                    <tr>
                        <td>All functionality of the authoring tool is operable through a keyboard interface without requiring specific timings for individual keystrokes, except where the under</td>
                      
                    </tr>
                </table>
            </td>
            </tr>  
    </table>


    <table cellpadding="5">       
        <tr>
            <td><img src="assets/img/avatar1.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
            <td valign="top" >
                <table>                    
                    <tr>
                        <td><h4 style="padding:0px; margin: 0px">Recep Günay</h4><p>Created on 15/07/2015</p></td>                          
                    </tr>
                    <tr>
                        <td>All functionality of the authoring tool is operable through a keyboard interface without requiring specific timings for individual keystrokes, except where the under</td>
                      
                    </tr>
                </table>
            </td>
            </tr>  
    </table>


    <table cellpadding="5">       
        <tr>
            <td><img src="assets/img/avatar2.jpg"  style="width: 64px; display: block;" data-src="holder.js/100%x200"></td>
            <td valign="top" >
                <table>                    
                    <tr>
                        <td><h4 style="padding:0px; margin: 0px">Chanan Kvas</h4><p>Created on 15/07/2015</p></td>                          
                    </tr>
                    <tr>
                        <td>All functionality of the authoring tool is operable through a kll functionality of the authoring tool is operable through ll functionality of the authoring tool is operable through ll functionality of the authoring tool is operable through ll functionality of the authoring tool is operable through ll functionality of the authoring tool is operable through eyboard interface without requiring specific timings for individual keystrokes, except where the under</td>
                      
                    </tr>
                </table>
            </td>
            </tr>  
    </table>
    
    
    

    <table cellpadding="5">       
        <tr>
            <td valign="top"><img src="assets/img/avatar1.jpg"  style="width: 64px;  display: block;" data-src="holder.js/100%x200"></td>
            <td valign="top" style="width: 850px">
                <table>                    
                    <tr>
                        <td> <textarea class="form-control" placeholder="Enter text" style="width:600px; height: 86px"></textarea></td>

                    </tr>
                    <tr>
                        <td align="right"  >
                            <button style=" margin-top:  5px" type="submit" class="btn btn-success">Comment</button>
                        </td>
                    </tr>
                </table>
            </td>
            </tr>  
    </table>





</div>
