<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td></td>

                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/group_detail';">Back to Group Detail </button>
                </td>
            </tr>

        </tbody>
    </table></div>

<div style="margin-bottom: 20px;">


    <h3  ng-bind="selectedGroupName"></h3>
    <p>Create New Discussion</p>
</div>

<div class="well well-sm"> 
    <div class="form-body">  

        <table cellpadding="5">               
            <tr>
                <td>Discussion Name</td>
                <td>      <input ng-model="name" class="form-control"  placeholder="Enter text" style="width:450px">
                </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td> <textarea class="form-control" ng-model="description" placeholder="Enter text" style="width:450px; height: 150px"></textarea></td>
                </tr>
                <tr>
                    <td>
                        Tags
                    </td>
                    <td>      


                        <table border="1" style="width:400px; border_color:#35363a" cellpadding="3"  >

                            <tr>
                                <td>
                            <input id="inputTag" class="form-control" type="text" name="product" style="width:300px" list="inputTagList" ng-model="ngTag"  ng-change="getTag()"/>
                            <datalist id="inputTagList">
                                <option  ng-repeat="option in yeniTagList" value="{{option.label}}" >{{option.clazz}} </option>
                            </datalist>
                    </td>
                    <td> 
                        <button type="submit" class="btn btn-success" ng-click="setTag()" >Add Tag</button>
                    </td> 
                </tr>
        </table>

        <table border="1" style="width:400px; border_color:#35363a" cellpadding="3"  >

            <tr>
                <th>Selected Tag</th>
                <th>Selected context</th>
            </tr>

            <tr data-ng-repeat="selectedTag in selectedTagList">
                <td>{{selectedTag.tag}}</td>
                <td>{{selectedTag.clazz}}</td> 
            </tr>
        </table>
    </div> 

</td>
</tr>

</table>     

</div>

</div>





<div class="well well-sm">
    <button ng-click="sendPost()" class="btn btn-success">Create Discussion</button>
</div>

