


<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td>
                    <h3>Digital Publishing Interest Group</h3> 
                    Hold discussions and recommend solutions regarding a future vision of Digital Publishing.
                </td>
                <td>
                    <ul style="list-style-type: none; margin-left:0px; padding-left: 0px; ">
                        <li >
                            <a tabindex="-1" href="#">Members            
                            </a>
                        </li>
                        <li role="presentation">
                            6 users in the group
                        </li>
                        <li role="presentation">
                            Add more
                        </li>
                    </ul>

                </td>
                <td>
                    <button type="button" class="btn btn-danger">Leave Group</button>
                </td>
            </tr>

        </tbody>
    </table></div>

<div><ul class="nav nav-pills">
        <li>
            <a href="#">2 Discussions</a>
        </li>
        <li>
            <a href="#">1 Note  </a>
        </li>
        <li>
            <a href="#">19 Resources</a>
        </li>
        <li>
            <a href="#">4 Meetings</a>
        </li>
        <li style="float: right;">
            <div class="theme-panel" style="width: 215px;">
                <div id="aa" class="toggler">
                    <i class="fa fa-plus"></i>
                </div>
                <div id="aab" class="theme-options">
                    <div class="theme-option">
                        <a href="#/new_discussion" class="icon-btn" style="width:130px">
                            <i class="fa fa-comments-o" style="font-size: 35px;"></i>
                            <div>
                                Create New Discussion
                            </div>
                            <span class="badge badge-important" style="display:none">
                                2
                            </span>
                        </a>
                    </div>
                    <div class="theme-option">
                        <a href="#" class="icon-btn" style="width:130px">
                            <i class="fa fa-pencil-square-o" style="font-size: 35px;"></i>
                            <div>
                                Create New Note
                            </div>
                        </a>
                    </div>
                    <div class="theme-option">
                        <a href="#" class="icon-btn" style="width:130px">
                            <i class="fa fa-paperclip" style="font-size: 35px;"></i>
                            <div>
                                Create New Resource
                            </div>
                        </a>
                    </div>
                    <div class="theme-option">
                        <a href="#/new_meeting" class="icon-btn" style="width:130px">
                            <i class="fa fa-group" style="font-size: 35px;"></i>
                            <div>
                                Create New Meeting
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>



<div class="well well-sm">
    <h4 >Discussions</h4>

    <ul style="list-style-type: none; margin-left:0px; padding-left: 0px; ">
        <li >
            <a tabindex="-1"  href="#/discussion_detail">This document isn't using RFC words...            
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1"  href="#/discussion_detail">The (optional) explanation of conformance ...
            </a>
        </li>
    </ul>


</div>

<div class="well well-sm">
    <h4 >Notes</h4>
    <ul style="list-style-type: none; margin-left:0px; padding-left: 0px; ">
        <li >
            <a tabindex="-1" href="#">Provide keyboard access to authoring features.            
            </a>
        </li>

    </ul>
</div>


<div class="well well-sm">
    <h4 >Resources</h4>

    <div class="media">
        <div class="pull-left " >
            <table>
                <tr>
                    <th><img src="assets/img/file_types/pdf.png" alt="100%x200" style=" height: 60px; display: block;" ></th>        
                </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
            </table>
        </div>

        <div class="pull-left">
            <table>
                <tr>
                    <th><img src="assets/img/file_types/docx.png" alt="100%x200" style=" height: 60px; display: block;" ></th>        
                </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
            </table>
        </div>

        <div class="pull-left">
            <table>
                <tr>
                    <th><img src="assets/img/file_types/docx.png" alt="100%x200" style=" height: 60px; display: block;" ></th>        
                </tr>
                <tr>
                    <td>#Elephants</td>
                </tr>
            </table>
        </div>

    </div>
</div>


<div class="well well-sm">
    <h4 >Meetings</h4>


    <a class="" href="#/meeting_detail">
        <div class="media" style="margin-bottom: 15px;">

            <div class="pull-left well well-sm" style="background-color: white">
                <table>
                    <tr>
                        <td align="center" style="font-size: 36px">28</td>
                    </tr>
                    <tr>
                        <td align="center">May 2016</td>
                    </tr>
                    <tr>
                        <td align="center">14:00-15:00</td>                        
                    </tr>
                </table>
            </div>

            <div class="media-body" style="padding-left: 10px; padding-top: 5px">
                <h4 class="media-heading">DPUB IG Metadata Task Force</h4>
                <p>The Metadata Task Force of the DPUB IG found, through extensive interviews with representatives of...</p>
                <p><i class="fa fa-group" style="margin-right: 3px;    color: brown;"></i>Face-to-Face Meeting</p>
            </div>
        </div>
    </a>
    <a class="" href="#/meeting_detail">
        <div class="media" style="margin-bottom: 15px;">

            <div class="pull-left well well-sm" style="background-color: white">
                <table>
                    <tr>
                        <td align="center" style="font-size: 36px">28</td>
                    </tr>
                    <tr>
                        <td align="center">May 2016</td>
                    </tr>
                    <tr>
                        <td align="center">14:00-15:00</td>                        
                    </tr>
                </table>
            </div>

            <div class="media-body" style="padding-left: 10px; padding-top: 5px">
                <h4 class="media-heading">DPUB IG Metadata Task Force</h4>
                <p>The Metadata Task Force of the DPUB IG found, through extensive interviews with representatives of...</p>
                <p><i class="fa fa-group" style="margin-right: 3px;    color: brown;"></i>Face-to-Face Meeting</p>
            </div>
        </div>
    </a>

    <a class="" href="#/meeting_detail">
        <div class="media" style="margin-bottom: 15px;">

            <div class="pull-left well well-sm" style="background-color: white">
                <table>
                    <tr>
                        <td align="center" style="font-size: 36px">28</td>
                    </tr>
                    <tr>
                        <td align="center">May 2016</td>
                    </tr>
                    <tr>
                        <td align="center">14:00-15:00</td>                        
                    </tr>
                </table>
            </div>

            <div class="media-body" style="padding-left: 10px; padding-top: 5px">
                <h4 class="media-heading">DPUB IG Metadata Task Force</h4>
                <p>The Metadata Task Force of the DPUB IG found, through extensive interviews with representatives of...</p>
                <p><i class="fa fa-video-camera" style="margin-right: 3px;color: #05AF15;"></i>Online Meeting</p>
            </div>
        </div>
    </a>
</div>

<script>
    $(document).ready(function () {
        // initiate layout and plugins
        $('#aa').click(function () {
            $(this).toggleClass("open");
            $('#aab').toggle();
        });


    });

</script>