<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                        <div class="page-breadcrumb breadcrumb">
					<h3 class="page-title">
					Groups <small> groups will be shown here</small>
					</h3>
                                            
                                        </div>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>

        
<div>
    <button type="" class="btn btn-info pull-right" onclick="window.location.href = '#/create_new_group';" >
			Create New Group </button>
<div class="row" style="border-bottom-color: black;border-bottom-style: solid;margin-left: 15px;border-bottom-width: 1px;padding-bottom: 15px;">
<!-- Meer Our Team -->
			<div class="headline">
				<h3>My Groups</h3>
			</div>
			<div class="row thumbnails">
				<div class="col-md-2"  data-ng-repeat="i in myGroupList">
					<button ng-click="toGroupDetail(i.id)" style="height: 130px;"><div class="meet-our-team">
                                            <h3>{{i.name}} </h3>
						
					</div></button>
				</div>
                            
                            
                            <li ng-show="!myGroupList.length">You are not contributed to any groups</li>
				<div class="col-md-2" ng-show="myGroupList.length">
					<div class="">
						<h3> 2 More Groups </h3>
						<!--<img src="assets/img/pages/3.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p>
                                                            <a href="#/my_groups_detail"> View More...</a>
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<!--/thumbnails-->
                        
                        </div>
                                                
      <div class="row"  style="border-bottom-color: black;border-bottom-style: solid;margin-left: 15px;border-bottom-width: 1px;padding-bottom: 15px;">                                          
                                                
                        <!-- Meer Our Team -->
			<div class="headline">
				<h3>Popular Groups</h3>
			</div>
			<div class="row thumbnails">
				<div class="col-md-2">
					<a><div class="meet-our-team">
                                            <h3>Cascading Style Sheets (CSS) Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
                                                <div class="team-info" style="display: none">
							<p>You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
				</div>
				<div class="col-md-2">
                                    <a><div class="meet-our-team">
						<h3>CSV on the Web Working Group <small><b> </b></small></h3>
						<!--<img src="assets/img/pages/3.jpg" alt="" class="img-responsive"/>-->
						
                                        </div></a>
				</div>
				<div class="col-md-2">
					<a><div class="meet-our-team">
						<h3>Semantic Web Interest Group <small> </small></h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						
					</div></a>
				</div>
				<div class="col-md-2">
					<div class="">
						<h3> 12 More Groups </h3>
						<!--<img src="assets/img/pages/3.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p>
                                                            <a href="#/popular_groups_detail"> View More...</a>
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<!--/thumbnails-->
                        </div>
                                                
      <div class="row"  style="border-bottom-color: black;border-bottom-style: solid;margin-left: 15px;border-bottom-width: 1px;padding-bottom: 15px;">  
                        
                        
                        <!-- Meer Our Team -->
			<div class="headline">
				<h3>Latest Groups</h3>
			</div>
			<div class="row thumbnails">
				<div class="col-md-2">
					<a><div class="meet-our-team">
                                            <h3>XML Security Working Group</h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p>You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
				</div>
				<div class="col-md-2">
                                    <a><div class="meet-our-team">
						<h3>XML Core Working Group<small><b> </b></small></h3>
						<!--<img src="assets/img/pages/3.jpg" alt="" class="img-responsive"/>-->
						
                                        </div></a>
				</div>
				<div class="col-md-2">
					<a><div class="meet-our-team">
						<h3>Web Annotation Working Group<small> </small></h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						
					</div></a>
				</div>
				<div class="col-md-2">
					<div class="">
						<h3> 237 More Groups </h3>
						<!--<img src="assets/img/pages/3.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p>
                                                            <a href="#/latest_groups_detail"> View More...</a>
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<!--/thumbnails-->
                        
                        
                        </div>
                                                
      <div class="row"  style="border-bottom-color: black;border-bottom-style: solid;margin-left: 15px;border-bottom-width: 1px;padding-bottom: 15px;">  
                        
                        <!-- Meer Our Team -->
			<div class="headline">
				<h3>Recommended for You</h3>
			</div>
			<div class="row thumbnails">
				<div class="col-md-2">
					<a><div class="meet-our-team">
                                            <h3>Technical Architecture Group</h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
                                                <div class="team-info" style="display: none">
							<p>You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
				</div>
				<div class="col-md-2">
                                    <a><div class="meet-our-team">
						<h3>Semantic Web Interest Group <small><b> </b></small></h3>
						<!--<img src="assets/img/pages/3.jpg" alt="" class="img-responsive"/>-->
						
                                        </div></a>
				</div>
				<div class="col-md-2">
					<a><div class="meet-our-team">
						<h3>Pointer Events Working Group <small> </small></h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						
					</div></a>
				</div>
				<div class="col-md-2">
					<div class="">
						<h3> 21 More Groups </h3>
						<!--<img src="assets/img/pages/3.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p>
                                                            <a href="#/recommended_groups_detail"> View More...</a>
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<!--/thumbnails-->
                        </div>
                                                
      <div class="row" style="border-bottom-color: black;border-bottom-style: solid;margin-left: 15px;border-bottom-width: 1px;padding-bottom: 15px;">  
                        
                        <!-- Meer Our Team -->
			<div class="headline">
				<h3>All Groups</h3>
			</div>
			<div class="row thumbnails"  >
				
                            <div class="col-md-2"  data-ng-repeat="i in groupList">
					<button ng-click="toGroupDetail(i.id)" style="height: 130px;"><div class="meet-our-team">
                                            <h3>{{i.name}} </h3>
						
					</div></button>
				</div>
                            
				<div class="col-md-2">
					<div class="">
						<h3> 2166 More Groups </h3>
						<!--<img src="assets/img/pages/3.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p>
                                                            <a href="#/all_groups_detail"> View More...</a>
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<!--/thumbnails-->
                        </div>
       </div>