<div><table class="" style="margin-bottom: 30px; width: 100%">

        <tbody>
            <tr>
                <td></td>

                <td>
                    <button type="button" class="btn btn-navbar" onclick="window.location.href = '#/groups';">Back to Groups </button>
                </td>
            </tr>

        </tbody>
    </table></div>

<div style="margin-bottom: 20px;">

    <h3>Create New Group</h3>
</div>

<div class="well well-sm"> 
    <form role="form" >       

        <div class="form-body">            
            <table cellpadding="5">               
                <tr>
                    <td>
                        Group Name
                    </td>
                    <td>      
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter text" style="width:450px" ng-model="name">
                    </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td> <textarea class="form-control" placeholder="Enter text" style="width:450px; height: 150px" ng-model="description"></textarea></td>
                    </tr>

                    <tr>
                        <td>
                            Tags
                        </td>
                        <td>      


                            <table border="1" style="width:400px;"cellpadding="3"  >

                                <tr>
                                    <td>
                                <input id="inputTag" class="form-control" type="text" name="product" style="width:300px" list="inputTagList" ng-model="ngTag"  ng-change="getTag()"/>
                                <datalist id="inputTagList">
                                    <option  ng-repeat="option in yeniTagList" value="{{option.label}}" >{{option.clazz}} </option>
                                </datalist>
                        </td>
                        <td> 
                            <button class="btn btn-success" ng-click="setTag()" >Add Tag</button>
                        </td> 
                    </tr>
            </table>

            <table border="1" style="width:400px;" cellpadding="3"  >

                <tr>
                    <th>Selected Tag</th>
                    <th>Selected context</th>
                </tr>

                <tr data-ng-repeat="selectedTag in selectedTagList">
                    <td>{{selectedTag.tag}}</td>
                    <td>{{selectedTag.clazz}}</td> 
                </tr>
            </table>
        </div>

        </td>
        </tr>

        </table>     

</div>

<button class="btn btn-success" ng-click="sendPost()">Create Group</button>
</form>
</div>




