<a class="btn btn-default" data-toggle="modal" href="#basic">View Demo</a>
<div class="col-md-12">

					<!-- BEGIN PORTLET-->
					<div class="">
						
						<div class="">
							
							<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
											<h4 class="modal-title">Transaction Successful</h4>
										</div>
										<div class="modal-body">
											 Your group is created
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->
							
						</div>
					</div>
					<!-- END PORTLET-->
				</div>

<div class="well well-sm"> 
    <form role="form" ng-submit="sendPost()" >       

        <div class="form-body">            
            <table cellpadding="5">               
                <tr>
                    <td>
                        Group Name
                    </td>
                    <td>      
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter text" style="width:450px" ng-model="name">
                    </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td> <textarea class="form-control" placeholder="Enter text" style="width:450px; height: 150px" ng-model="description"></textarea></td>
                    </tr>
                    
                      <tr>
                    <td>
                        Tags
                    </td>
                    <td>      
                <input  class="form-control" id="exampleInputEmail1" placeholder="Enter text" style="width:450px">
                    </td>
                    </tr>

            </table>     

        </div>
        
        <button type="submit" class="btn btn-success">Create Group</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </form>
</div>




