<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                        <div class="page-breadcrumb breadcrumb">
					<h3 class="page-title">
					Groups <small> groups will be shown here</small>
					</h3>
                                        </div>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>

<div>
<div class="row" style="margin-left: 15px;padding-bottom: 15px;">
<!-- Meer Our Team -->
			<div class="headline">
				<h3>Popular Groups</h3>
			</div>
			<div class="row thumbnails">
				<div class="col-md-12">
                                    <div style="width: 250px;float: left;margin-right: 15px;">
					<a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                    </div>
                                    <div style="width: 250px;float: left;margin-right: 15px;">
                                        <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                    </div>
                                    <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                        </div>
                                        <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                            </div>
                                            <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                                </div>
                                                <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                                    </div>
                                                    <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                                        </div>
                                                        <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                                            </div>
                                                            <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                                                </div>
                                                                <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                                                    </div>
                                                                    <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
                                                                        </div>
                                                                        <div style="width: 250px;float: left;margin-right: 15px;">
                                    <a><div class="meet-our-team">
                                            <h3>XML Security Working Group </h3>
						<!--<img src="assets/img/pages/2.jpg" alt="" class="img-responsive"/>-->
						<div class="team-info">
							<p style="    color: #D0557D;">You are the admin</p>
<!--							<ul class="social-icons social-icons-color pull-right">
								<li>
									<a href="#" data-original-title="twitter" class="twitter"></a>
								</li>
								<li>
									<a href="#" data-original-title="facebook" class="facebook"></a>
								</li>
								<li>
									<a href="#" data-original-title="linkedin" class="linkedin"></a>
								</li>
								<li>
									<a href="#" data-original-title="Goole Plus" class="googleplus"></a>
								</li>
								<li>
									<a href="#" data-original-title="skype" class="skype"></a>
								</li>
							</ul>-->
						</div>
					</div></a>
				</div>
				
			</div>
			<!--/thumbnails-->
                        
                        </div>
                                                
      
       </div>